* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: "Lora", serif;
    --purple-color: #8B52FF;
    --pink-color: #FF52AE;
    --body-color: #F5F0FF;
    --gradient-color : linear-gradient(to left, var(--purple-color), var(--pink-color)); 

    --title-color: #220953;
    --text-color: #4b3d65;
    --text-color-light: #A197B4;

    --container-color: #ffffff;

    --active-color: white;

    --biggest-font-size: 6rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
}

.biggest-font-size {
    font-size: var(--biggest-font-size);
}
.bigger-font-size {
    font-size: var(--bigger-font-size);
}
.big-font-size {
    font-size: var(--big-font-size);
}
.h1-font-size {
    font-size: var(--h1-font-size);
}
.h2-font-size {
    font-size: var(--h2-font-size);
}
.h3-font-size {
    font-size: var(--h3-font-size);
}
.h4-font-size {
    font-size: var(--h4-font-size);
}
.small-font-size {
    font-size: var(--small-font-size);
}
.smaller-font-size {
    font-size: var(--smaller-font-size);
}

.title-font-color {
    color: var(--title-color);
}
.text-font-color {
    color: var(--text-color);
}
.text-light-font-color {
    color: var(--text-color-light);
}


.page-body-wrapper {
    background-color: var(--body-color);
}

.page-body-wrapper nav {
    display: flex;
    justify-content: space-around;
    font-size: var(--h4-font-size);
    width: 100vw;
    height: 80px;
    align-items: center;
}
.page-body-wrapper nav h1 {
    background: var(--gradient-color); 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}
.page-body-wrapper nav ul {
    display: flex;
    gap: 3rem;
    color: var(--title-color);
}

.page-body-wrapper nav ul li a:link,
.page-body-wrapper nav ul li a:visited {
    color: var(--title-color);
}
.page-body-wrapper nav ul li a:hover {
    background: linear-gradient(to left, var(--purple-color), var(--pink-color)); 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}
.page-body-wrapper .nav-links a.active {
    background-color: var(--active-color);
    padding: 0.2rem 0.3rem;
}


.icon {
    display: block;
    width: 1.2rem;
    cursor: pointer;
}

.icon img {
    width: 100%;
}

.btn {
    background: linear-gradient(to left, var(--purple-color), var(--pink-color));
    cursor: pointer;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    border: none;
    color: white;

    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.btn img {
    width: 1rem;
}

.banner {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}
.banner-icon img {
    width: 100%;
}
.banner > div {
    flex: 1;
}
.banner > div:last-child img {
    width: 100%;
}
.banner-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.banner-context p {
    line-height: 1.3rem;
}

.banner-context h1 {
    font-weight: 600;
}

.banner-grid-container {
    display: grid;
    grid-template-areas: 
    "g1 g1 g1"
    "g2 g2 g3"
    "g4 g4 g4"
    ;
    align-items: center;
}

.banner-grid-container .g1 {
    grid-area: g1;
}
.banner-grid-container .g2 {
    grid-area: g2;
}
.banner-grid-container .g3 {
    grid-area: g3;
    display: flex;
}
.banner-grid-container .g4 {
    grid-area: g4;
}

.yoga-tag {
    display: inline-block;
    background: var(--gradient-color);
    color: white;
    padding: 0.01em 0.08em;
    border-radius: 15px;
    transform: rotate(9deg);
}

.text-content {

}

.text-content h1 {
    font-size: var(--biggest-font-size);
    color: var(--title-color);
    font-weight: 600;
}

.yoga-size {
    display: flex;
    gap: 2rem;
}
.yoga-size h3 {
    font-weight: 400;
}
.yoga-size > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.yoga-size > div p {
    align-self: center;
}

.w-95 {
    width: 95px;
}

.nav-toggle {
    display: flex;
    gap: 1rem;
}

#night-toggle:checked ~ .page-body-wrapper {
    --body-color: #14092A;
    --title-color: #D1C0F1;
    --text-color: #A094B8;
    --text-color-light: #A197B4;

    --container-color: #372A51;

    --active-color: #14092A;
}

#night-toggle:checked ~ .page-body-wrapper .nav-links a.active {
    background: linear-gradient(to left, #8B52FF, #FF52AE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.light-icon {
    display: block;
}
.dark-icon {
    display: none;
}
#night-toggle:checked ~ .page-body-wrapper .light-icon {
    display: none;
}
#night-toggle:checked ~ .page-body-wrapper .dark-icon {
    display: block;
}


/* niche */
.niche {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
    gap: 3rem;
}
.niche h2 {
    font-size: var(--bigger-font-size);
    color: var(--title-color);
    font-weight: 500;
}
.niche img {
    width: 100%;
}

.niche > div:first-child {
    display: flex;
    align-items: center;
    gap: 2.2rem;
    
}
.niche > div:nth-child(2) {
    font-size: var(--h4-font-size);
    line-height: 1.5rem;
    align-content: center;
}
.niche > div:nth-child(2) img {
    width: 100%;
}
.niche > div:nth-child(2) p {
    font-size: var(--h4-font-size);
    line-height: 1.5rem;
    color: var(--text-color);
}
.niche > div:nth-child(2) > span {
    display: block;
    margin-top: 3rem;
}
.liststar-2 {
    display: block;
    width: 64px;
    position: absolute;
    margin-top: -40px;
    margin-left: -20px;
}
.niche > div:last-child {
    align-content: center;
}
.svg-button {
    position: relative;
    width: 150px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.svg-button svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-text {
    position: relative;
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--h4-font-size);
    z-index: 1;
}


/* health */
.health {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.health h2 {
    font-size: var(--bigger-font-size);
    color: var(--title-color);
    font-weight: 300;
}
.health p {
    font-size: var(--h4-font-size);
    color: var(--text-color);
    line-height: 1.5rem;
}
.health-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.part-risa {
    background-color: var(--body-color);
}

.part-risa li {
    list-style: none;
}

.part-risa a {
    text-decoration: none;
    color: #fff;
    background: var(--gradient-color);
}


/*section4-style*/
.section4 {
    min-height: 672px;
    display: grid;
    grid-template-columns: 460px 580px;
    justify-content: center;
    padding: 5vh 11vw;
    gap: 64px;
}

.section4 h1 {
    margin-bottom: 40px;
}

.sec4-content {
    align-content: center;
}
.sec4-content>div {
    margin-top: 48px;
}
.sec4-content h1 {
    font-weight: 400;
}
.section4 a {
    padding: 16px 28px;
    border-radius: 64px;
}

.horrizontally{
    padding: 10px 8px;
    background-color: #fff;
    border-radius: 16px;
    display: grid;
    grid-template-columns:  max-content max-content;
    z-index: 2;
    position: absolute;
}
.text-center{
    align-content: center;
}

.sec4-img,
.sec4-img>img {
    position: relative;
    justify-self: center;
}
.sec4-img>div{
    display: flex;
    align-items: center;
}
#yoga1-text{
    top: 8vh;
    left: 25vw;
}
#yoga2-text{
    top: 47vh;
    left: 3vw;
}
#yoga2-pic {
    position: absolute;
    top: 25vh;
    left: 9vw;
}


/*section5-style*/
.section5 {
    margin-top: 5vh;
    padding-top: 10vh;
    position: relative;
    text-align: center;
    min-height: 821px;
}

.section5 div {
    margin-top: 32px;
    border-radius: 64px;
}

.section5 a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--gradient-color);
    color: white;
    font-size: var(--h4-font-size);
    font-weight: 500;
    gap: 0.5rem;
    text-align: center;
}
.sec5-text > div {
    justify-items: center;
}
.sec5-img {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px 50px;
    position: absolute;
    top: 0;
    left: 14%;
}
.sec5-img img:nth-child(2), .sec5-img img:nth-child(4){
    justify-self: end;
}

/*section6-style*/
.section6 {
    margin-top: 5vh;
    padding: 9vh 15vw;
}

.section6>section {
    background: var(--gradient-color);
    padding: 7vh 14vw;
    border-radius: 32px;
    text-align: center;
}

.section6 h1,
.section6 p {
    color: #fff;
}

.section6 h1 {
    margin-bottom: 16px;
}

form {
    display: grid;
    position: relative;
    margin-top: 4vh;
    align-items: center;
    justify-items: end;
}

form>input {
    width: 100%;
    height: 8vh;
    border-radius: 48px;
    border: none;
}

#button {
    background: var(--gradient-color);
    position: absolute;
    width: 11vw;
    height: 6vh;
    z-index: 2;
    margin-right: 10px;
    border-radius: 48px;
    height: 8vh;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/*footer-style*/
footer {
    background-color: #1E0849;
    padding: 7vh 12vw;
}

footer p {
    color: var(--text-color-light);
}

footer h2 {
    color: #fff;
    margin-bottom: 4vh;
}

.gradient-text {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer>section {
    display: flex;
    justify-content: space-between;

}

.contact {
    display: flex;
    gap: 72px;
}

footer li {
    display: inline-block;
    margin-right: 2vw;
}

footer hr {
    margin: 5vh 0;
}
.foot-sec1 h2 {
    font-size: var(--h2-font-size);
}
.foot-sec1 p {
    font-size: var(--h4-font-size);
}
.foot-sec2 p {
    font-size: var(--smaller-font-size);
}


/*Media Queries*/
@media screen and (max-width: 1440px) {

}

.menu-icon {
    display: none;
}

/* Styles for Smartphones */
@media screen and (max-width: 575px) {
    html {
        --biggest-font-size: 2.75rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --h4-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }

    /* header */
    .page-body-wrapper nav {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        height: auto;
    }
    .page-body-wrapper .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }
    .page-body-wrapper .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
        width: 21px;
        margin-top: 1px;
        cursor: pointer;
    }
    .menu-icon img {
        width: 100%;
    }

    /* banner */
    .banner {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .banner-context {
        align-items: center;
        text-align: center;
    }
    .banner-grid-container {
        display: grid;
        grid-template-areas: 
        "g1 g1 g1 g1 g1"
        "g2 g2 g2 g2 g2"
        "g3 g4 g4 g4 g4"
        ;
        align-items: center;
    }
    .banner-grid-container .g1 {
        grid-area: g1;
    }
    .banner-grid-container .g2 {
        grid-area: g2;
    }
    .banner-grid-container .g3 {
        grid-area: g3;
        display: flex;
        width: 52px;
    }
    .banner-grid-container .g4 {
        grid-area: g4;
    }
    .banner-context > div:nth-child(2) p {
        display: inline;
    }

    /* niche */
    .niche {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    /* health */
    .health {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
        margin: 0 auto;
        margin-top: 4rem;
    }
    .health-context {
        text-align: center;
    }
    .health-context > span {
        justify-items: center;
    }
    .health-context p {
        display: inline;
    }
    .health-picture img {
        width: 100%;
    }


    .part-risa {
        text-align: center;
    }

    /*section4*/
    .section4 {
        grid-template-columns: auto;
    }
    .yoga-pic {
        width: 250px;
        height: 171px;
    }
    .icon{
        width: 24px;
        height: 24px;
    }
    #yoga1-text {
        top: 3vh;
        left: 36vw;
    }

    /*section5*/
    .sec5-img img:first-child,
    .sec5-img img:nth-child(2) {
        width: 140px;
        height: 210px;
    }

    .sec5-img img:nth-child(2) {
        margin-top: 40px;
    }

    .sec5-img img:nth-child(3),
    .sec5-img img:nth-child(4) {
        width: 230px;
        height: 140px;
    }
    .sec5-img{
        position: relative;
        grid-template-areas:
        "a b"
        "c c"
        "d d";
        gap: 20px;
        left: 0;
        justify-self: center;
        margin-top: 10vh;
    }
    .sec5-img img:nth-child(1){
        grid-area: a;
    }
    .sec5-img img:nth-child(2){
        grid-area: b;
    }
    .sec5-img img:nth-child(3){
        grid-area: c;
    }
    .sec5-img img:nth-child(4){
        grid-area: d;
    }
    .sec5-text > div {
        justify-items: center;
    }
    .sec5-text h1 {
        font-weight: 400;
    }
    .section5 a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--gradient-color);
        color: white;
        font-size: var(--h4-font-size);
        font-weight: 500;
        gap: 0.5rem;
        text-align: center;
    }


    /*section6*/
    .section6{
        padding: 11vh 5vw;
    }

    .section6 input {
        padding-left: 15px;
        font-size: 0.7rem;
    }
    .section6 h1 {
        font-weight: 400;
    }

    /*footer*/
    footer>section {
        flex-direction: column;
    }

    .gradient-h {
        display: inline-block;
        background: linear-gradient(to left, #8B52FF, #FF52AE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .contact {
        flex-direction: column;
        margin-top: 72px;
    }

    .foot-sec2 {
        text-align: center;
    }

    .foot-sec2 p {
        margin-top: 3vh;
    }
    #button{
        position: relative;
        width: 100%;
        margin: 10px 0;
    }
}
