* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*font-style*/
html {
    font-family: "Lora", serif;
    --purple-color: #8B52FF;
    --pink-color: #FF52AE;
    --body-color: #F5F0FF;
    --gradient-color: linear-gradient(to left, var(--purple-color), var(--pink-color));

    --title-color: #220953;
    --text-color: #4b3d65;
    --text-color-light: #A197B4;

    --biggest-font-size: 6rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
}

.biggest-font-size {
    font-size: var(--biggest-font-size);
}

.bigger-font-size {
    font-size: var(--bigger-font-size);
}

.big-font-size {
    font-size: var(--big-font-size);
}

.h1-font-size {
    font-size: var(--h1-font-size);
}

.h2-font-size {
    font-size: var(--h2-font-size);
}

.h3-font-size {
    font-size: var(--h3-font-size);
}

.h4-font-size {
    font-size: var(--h4-font-size);
}

.small-font-size {
    font-size: var(--small-font-size);
}

.smaller-font-size {
    font-size: var(--smaller-font-size);
}

.title-font-color {
    color: var(--title-color);
}

.text-font-color {
    color: var(--text-color);
}

.text-light-font-color {
    color: var(--text-color-light);
}


.part-risa {
    background-color: var(--body-color);
}

.part-risa li {
    list-style: none;
}

.part-risa a {
    text-decoration: none;
    color: #fff;
    background: var(--gradient-color);
}


/*section4-style*/
.section4 {
    min-height: 672px;
    display: grid;
    grid-template-columns: 460px 580px;
    justify-content: center;
    padding: 5vh 11vw;
    gap: 64px;
}

.section4 h1 {
    margin-bottom: 40px;
}

.sec4-content {
    align-content: center;
}
.sec4-content>div {
    margin-top: 48px;
}
.section4 a {
    padding: 16px 28px;
    border-radius: 64px;
}

.horrizontally{
    padding: 10px 8px;
    background-color: #fff;
    border-radius: 16px;
    display: grid;
    grid-template-columns:  max-content max-content;
    z-index: 2;
    position: absolute;
} 
.text-center{
    align-content: center;
}

.sec4-img,
.sec4-img>img {
    position: relative;
    justify-self: center;
}
.sec4-img>div{
    display: flex;
    align-items: center;
}
#yoga1-text{
    top: 8vh;
    left: 25vw;
}
#yoga2-text{
    top: 47vh;
    left: 3vw;
}
#yoga2-pic {
    position: absolute;
    top: 25vh;
    left: 9vw;
}


/*section5-style*/
.section5 {
    margin-top: 5vh;
    padding-top: 10vh;
    position: relative;
    text-align: center;
    min-height: 821px;
}

.section5 div {
    margin-top: 32px;
    border-radius: 64px;
}

.section5 a {
    border-radius: 64px;
    padding: 20px;
}

.sec5-img {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px 50px;
    position: absolute;
    top: 0;
    left: 14%;
}
.sec5-img img:nth-child(2), .sec5-img img:nth-child(4){
    justify-self: end;
}

/*section6-style*/
.section6 {
    margin-top: 5vh;
    padding: 9vh 15vw;
}

.section6>section {
    background: var(--gradient-color);
    padding: 7vh 14vw;
    border-radius: 32px;
    text-align: center;
}

.section6 h1,
.section6 p {
    color: #fff;
}

.section6 h1 {
    margin-bottom: 16px;
}

form {
    display: grid;
    position: relative;
    margin-top: 4vh;
    align-items: center;
    justify-items: end;
}

form>input {
    width: 100%;
    height: 8vh;
    border-radius: 48px;
    border: none;
}

#button {
    background: var(--gradient-color);
    position: absolute;
    width: 11vw;
    height: 6vh;
    z-index: 2;
    margin-right: 10px;
}

/*footer-style*/
footer {
    background-color: #1E0849;
    padding: 7vh 12vw;
}

footer p {
    color: var(--text-color-light);
}

footer h2 {
    color: #fff;
    margin-bottom: 4vh;
}

.gradient-text {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer>section {
    display: flex;
    justify-content: space-between;

}

.contact {
    display: flex;
    gap: 72px;
}

footer li {
    display: inline-block;
    margin-right: 2vw;
}

footer hr {
    margin: 5vh 0;
}


/*Media Queries*/
@media screen and (max-width: 1440px) {

}

@media screen and (max-width:575px) {
    html {
        --biggest-font-size: 2.75rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --h4-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }

    .part-risa {
        text-align: center;
    }

    /*section4*/
    .section4 {
        grid-template-columns: auto;
    }
    .yoga-pic {
        width: 250px;
        height: 171px;
    }
    .icon{
        width: 24px;
        height: 24px;
    }

    /*section5*/
    .sec5-img img:first-child,
    .sec5-img img:nth-child(2) {
        width: 140px;
        height: 210px;
    }

    .sec5-img img:nth-child(3),
    .sec5-img img:nth-child(4) {
        width: 230px;
        height: 140px;
    }
    .sec5-img{
        position: relative;
        grid-template-areas: 
        "a b"
        "c c"
        "d d";
        gap: 20px; 
        left: 0;
        justify-self: center;
        margin-top: 10vh;
    }
    .sec5-img img:nth-child(1){
        grid-area: a;
    }
    .sec5-img img:nth-child(2){
        grid-area: b;
    }
    .sec5-img img:nth-child(3){
        grid-area: c;
    }
    .sec5-img img:nth-child(4){
        grid-area: d;
    }

    /*section6*/
    .sectio6{
        padding: 11vh 5vw;
    }

    /*footer*/
    footer>section {
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    .foot-sec2 {
        text-align: center;
    }
    #button{
        position: relative;
        width: 100%;
        margin: 10px 0;
    }
}